import(methods)
import(IRanges)
import(Biostrings)
import(DECIPHER)

importFrom("utils", "setTxtProgressBar", "txtProgressBar", "data")
importFrom("stats", "predict")


export(Catalog)
export(CoreAligner)
export(EdgeMatrix)
export(GetOrthologSummary)
export(NCBIGFFParser)
export(NucleotideOverlap)
export(ReadMCL)
export(SubCatalog)
export(ResolveConflicts)
export(ReciprocalBestBlast)
export(HSSPScore)
export(ParseSubGraphs)
export(gffToDataFrame)
export(ExtractCDSs)
export(PairSummaries)

S3method(print, "LinkedPairs")
S3method(`[`, "LinkedPairs")